<div class='row top'>
  <%= image_tag('bird.jpg', alt: 'bird with guy', class: 'about_us_logo') %>
  <%= image_tag('food_volunteer.jpg', alt: 'science experiment', class: 'about_us_logo') %>
  <%= image_tag('bgood_logo.png', alt: 'b good logo', class: 'about_us_logo') %>
  <%= image_tag('hand_with_plant.jpg', alt: 'hand holding plant', class: 'about_us_logo') %>
  <%= image_tag('volunteer_runners.jpg', alt: 'b good logo', class: 'about_us_logo') %>
</div>


<div id='about_us_outer_container'>
  <h1>About Us</h1>
  <div id='about_us_container'>
    <div class='row'>
      <div class='col s6'>
        <h3>Bill Lapko</h3>
          <%= image_tag('something.jpg', alt: "Bill's picture", class: 'bio_pictures') %>
          <p>Bio</p>
          <p><i class="material-icons">email</i>contact info</p>
        <ul>
          <li><a href='https://www.linkedin.com/in/william-lapko-3bb31928/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
          <li><a href='https://github.com/billiam7'><%= image_tag('github_logo.png', alt:'git hub logo', class: 'git_hub_logo')%></a></li>
          <li><a href=''><%= image_tag('twitter_logo.png', alt:'twitter logo', class: 'twitter_logo')%></a></li>
        </ul>
      </div>

      <div class='col s6'>
        <h3>Bethany Farrey</h3>
          <%= image_tag('bethanyfarrey.jpg', alt: "picture of bethany farrey", class: 'bio_pictures')%>
          <p>Bethany is a web developer and former zookeeper living in South Florida.
            As a graduate of Emory University, she worked at zoos and museums in Atlanta,
            GA, Orlando, FL, and Chicago, IL. After returning to South Florida in 2015,
            she decided to become a full-stack web developer and attended Wyncode Academy
            in January 2017.</p>
          <p><i class="material-icons">email</i>  bethanyfarrey@gmail.com</p>
        <ul>
          <li><a href='https://www.linkedin.com/in/bethany-farrey/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
          <li><a href='https://github.com/BDFarrey'><%= image_tag('github_logo.png', alt:'git hub logo', class: 'git_hub_logo')%></a></li>
          <li><a href='https://twitter.com/BethanyFarrey'><%= image_tag('twitter_logo.png', alt:'twitter logo', class: 'twitter_logo')%></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
