<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <%= video_tag("Draw-Something.mp4", controls: false, autoplay: true, loop: true, class: "drawing_video") %>
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>
<div class="outercontainerbox">

</div>
<div id='dashboard_layout' class='container'>


  <div id='profile_layout'>
    <h1><%= current_user.name %>'s Profile</h1>

    <h4>Name: <%= current_user.name %></h4>

    <h4>Email: <%= current_user.email %></h4>

  <a class="waves-effect waves-light btn" href="#modal1">Edit Profile</a>

  <h3>Volunteer Sign Ups: </h3>
  <table class="bordered highlight">

    <thead>

      <tr>
        <th data-field="api_id" class="hidden">class=Hidden</th>
        <th data-field="opportunity">Opportunity</th>
        <th data-field="organization">Organization</th>
        <th data-field="date">Date</th>
        <th data-field="time">Time</th>
        <th data-field="link">Link</th>
      </tr>

    </thead>


    <tbody>
      <tr>
        <% current_user.challenges.each do |challenge| %>
        <td class="hidden"> <%= challenge.opportunity.api_id %></td>
        <td> <%= challenge.opportunity.name %></td>
        <td> <%= challenge.opportunity.organization %></td>
        <td> <%= challenge.opportunity.date %></td>
        <td> <%= challenge.opportunity.time %></td>
        <td> <%= link_to "View Opportunity", challenge.opportunity.link %></td>
        <!-- <i class="material-icons">web</i> add icon -->
        <tr>
        </tbody>

        <% end %>
        <table>


      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4><%= current_user.name %>'s Profile</h4>

          <%= form_for(current_user) do |f| %>


            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>

          </div>
          <div class="modal-footer">
            <%= f.submit "Update Profile", class: "modal-action modal-close waves-green btn-flat" %>
          </div>
          <% end %>
      </div>
  </div>
</div>
</div>
