<h1><%= current_user.name %>'s Profile</h1>



<div class="fb-share-button" data-href="http://bgoodmiami.herokuapp.com?referer=<%= current_user.id %>" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>


<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="I just completed a volunteer challenge at B Good, and now I challenge you to do the same!" data-url="https://bgoodmiami.herokuapp.com" data-lang="en" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>




<h3>Name: <%= current_user.name %></h3>

<h3>Email: <%= current_user.email %></h3>



<h3>Challenges: </h3>
<% current_user.challenges.each do |challenge| %>
  <p> <%= challenge.details %> </p>
  <p> <%= challenge.date %></p>
  <p> <%= challenge.challenge_type %></p>
  <p> <%= challenge.opportunity.api_id %></p>
  <p> <%= challenge.opportunity.name %></p>

<% end %>

<a class="waves-effect waves-light btn" href="#modal1">Edit Profile</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4><%= current_user.name %>'s Profile</h4>

      <%= form_for(current_user) do |f| %>


        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit "Update Profile", class: "modal-action modal-close waves-green btn-flat" %>
      </div>
      <% end %>
  </div>




    <%# f.submit("Update Profile", class: "modal-action modal-close waves-effect waves-green btn-flat")%>
