<h1>About Us</h1>

<h2>B Good Team</h2>

<div>
<h3>Bill Lapko</h3>

<ul>
  <li>picture</li>
  <li>Bio</li>
  <li><i class="material-icons">email</i>contact info</li>
  <li><a href='https://www.linkedin.com/in/william-lapko-3bb31928/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
  <li><a href='https://github.com/billiam7'><%= image_tag('github_logo.png', alt:'git hub logo')%></a></li>
  <li><a href=''><%= image_tag('twitter_logo.png', alt:'twitter logo')%></a></li>

</ul>
</div>

<div>
<h3>Bethany Farrey</h3>

<ul>
  <li><%= image_tag('bethanyfarrey.jpg', alt: "picture of bethany farrey")%></li>
  <li>Bethany is a web developer and former zookeeper living in South Florida.
    As a graduate of Emory University, she worked at zoos and museums in Atlanta,
    GA, Orlando, FL, and Chicago, IL. After returning to South Florida in 2015,
    she decided to become a full-stack web developer and attended Wyncode Academy
    in January 2017.</li>
  <li><i class="material-icons">email</i>bethanyfarrey@gmail.com</li>
  <li><a href='https://www.linkedin.com/in/bethany-farrey/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
  <li><a href='https://github.com/BDFarrey'><%= image_tag('github_logo.png', alt:'git hub logo')%></a></li>
  <li><a href='https://twitter.com/BethanyFarrey'><%= image_tag('twitter_logo.png', alt:'twitter logo')%></a></li>

</ul>
</div>
