<h1>About Us</h1>

<h2>B Good Team</h2>

<div>
<h3>Bill Lapko</h3>

<ul>
  <li><%= image_tag('williamLapko.jpg', alt: "picture of bill lapko")%></li>
  <li>Distillery normcore vegan ethical jean shorts church-key. Glossier vaporware chartreuse tattooed. Lo-fi mustache wolf, vinyl post-ironic church-key banh mi authentic neutra. Yuccie literally iPhone forage tbh. Try-hard skateboard master cleanse, lomo kickstarter la croix 90's mustache selvage viral woke hoodie unicorn disrupt. Dreamcatcher pabst prism, hot chicken meh messenger bag bitters cardigan selfies lumbersexual succulents trust fund intelligentsia YOLO humblebrag. Twee tbh meggings, banh mi put a bird on it asymmetrical chambray iPhone 8-bit lo-fi blue bottle succulents.</li>
  <li><i class="material-icons">email</i>wlapko@gmail.com</li>
  <li><a href='https://www.linkedin.com/in/william-lapko-3bb31928/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
  <li><a href='https://github.com/billiam7'><%= image_tag('github_logo.png', alt:'git hub logo')%></a></li>
  <li><a href='https://twitter.com/SirBilliam7'><%= image_tag('twitter_logo.png', alt:'twitter logo')%></a></li>

</ul>
</div>

<div>
<h3>Bethany Farrey</h3>

<ul>
  <li><%= image_tag('bethanyfarrey.jpg', alt: "picture of bethany farrey")%></li>
  <li>Bethany is a web developer and former zookeeper living in South Florida.
    As a graduate of Emory University, she worked at zoos and museums in Atlanta,
    GA, Orlando, FL, and Chicago, IL. After returning to South Florida in 2015,
    she decided to become a full-stack web developer and attended Wyncode Academy
    in January 2017.</li>
  <li><i class="material-icons">email</i>bethanyfarrey@gmail.com</li>
  <li><a href='https://www.linkedin.com/in/bethany-farrey/'><%= image_tag('linkedin.png', alt: 'linked in logo') %></a></li>
  <li><a href='https://github.com/BDFarrey'><%= image_tag('github_logo.png', alt:'git hub logo')%></a></li>
  <li><a href='https://twitter.com/BethanyFarrey'><%= image_tag('twitter_logo.png', alt:'twitter logo')%></a></li>

</ul>
</div>

<%= image_tag('bgood_logo.png', alt: 'b good logo', id: 'about_us_logo') %>
