<div id="landing_page_body">

  <div class="container landing-top">

  </div>

<!-- auth0 login -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">B Good</h1>
        <div class="row center">
          <h5 class="header col s12 light">Miami's fun way to volunteer!</h5>
        </div>
        <div id='auth0_login'>
          <script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
          <script>
            var lock = new Auth0LockPasswordless('<%= ENV['auth0_bgood_key'] %>', '<%= ENV['auth0_domain'] %>');
            function open() {
              lock.emailcode({
                icon:"https://bgoodmiami.herokuapp.com/assets/bgood_logo-62bdcd1880a570f839862b5037083dc62f0c071898af8022c228481caf6bec0d.png",
                primaryColor:"#4dd0e1",
                callbackURL: 'http://localhost:3000/auth/oauth2/callback',
                dict: {title:"B Good"},
                authParams: {
                  scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
                }
              });
            }
          </script>
          <a><button class="waves-effect waves-light btn-large cyan lighten-2" onclick="window.open();">Login or Sign up!</button></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag("bookcase.jpg", alt: "bookcase") %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <!-- <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
            <div id='bgood_logo'>
              <%= image_tag('bgood_logo.png', alt: "b good logo") %>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Find Opportunties in the Area</h5>

            <p class="light">Using our search, you can find volunteer opportunities related to what you are interested in.  Do you like animals? Have talents with musical intstruments?  Do you like to build things?  The best part of B Good is the flexibility to choose what you like! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Connect with your Friends</h5>

            <p class="light">B Good makes volunteering fun by not only connecting you with your passions, but also with your friends!  Once you find an opportunity you are interested in, you can share it via Facebook or Twitter with your friends to get them to join in with you.  Challenges are the best part; after you complete your experience, pick a friend to challenge to pick one of their own!  See how many people you can get involved.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("volunteer.png", alt: "volunteer image")%></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">We are Bill Lapko and Bethany Farrey, two Wyncoade Academy students who are interested in getting people more active in the volunteer community in Miami.  For our final project, we wanted to create a website that would bring people together and help the community, all in one.  From this idea, BGood was born.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Join us today and start making a difference in your community</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("hand_with_plant.jpeg", alt: "hand reaching out") %></div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Wyncode Academy</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
