<body>
<div id="landing_page_body">

  <div class="container landing-top">
  <h1 class="header center black-text text-lighten-2">B Good</h1>
  </div>

<!-- auth0 login -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div id='auth0_login'>
          <script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
          <script>
            var lock = new Auth0LockPasswordless('<%= ENV['auth0_bgood_key'] %>', '<%= ENV['auth0_domain'] %>');
            function open() {
              lock.sms({
                icon:"https://bgoodmiami.herokuapp.com/assets/bgood_logo-62bdcd1880a570f839862b5037083dc62f0c071898af8022c228481caf6bec0d.png",
                primaryColor:"#4dd0e1",
                callbackURL: 'http://localhost:3000/auth/oauth2/callback',
                dict: {title:"B Good"},
                authParams: {
                  scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
                }
              });
            }
          </script>
          <a><button class="waves-effect waves-light btn-large cyan lighten-2" onclick="window.open();">Login or Sign up!</button></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag("volunteer.png", alt: "bookcase") %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <!-- <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
            <div id='bgood_logo'>
              <%= image_tag('bgood_logo.png', alt: "b good logo") %>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Find Opportunties in the Area</h5>

            <p class="light">Using our search, you can find volunteer opportunities related to what you are interested in.  Do you like animals? Have talents with musical intstruments?  Do you like to build things?  The best part of B Good is the flexibility to choose what you like! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Connect with your Friends</h5>

            <p class="light">B Good makes volunteering fun by not only connecting you with your passions, but also with your friends!  Once you find an opportunity you are interested in, you can share it via Facebook or Twitter with your friends to get them to join in with you.  Challenges are the best part; after you complete your experience, pick a friend to challenge to pick one of their own!  See how many people you can get involved.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Miami's fun way to volunteer!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("volunteer1.jpg", alt: "volunteer image")%></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">We are Bill Lapko and Bethany Farrey, two Wyncoade Academy students who are interested in getting people more active in the volunteer community in Miami.  For our final project, we wanted to create a website that would bring people together and help the community, all in one.  From this idea, BGood was born.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Join us today and start making a difference in your community</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("volunteer2.jpg", alt: "hand reaching out") %></div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Wyncode Academy</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <p>photo credit: compassionconnect <a href="http://www.flickr.com/photos/130897848@N02/17748229595">Wilson HS Clinic 697</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a></p>
photo credit: 143d Sustainment Command (Expeditionary) <a href="http://www.flickr.com/photos/97674177@N02/32410532392">SHOWING UNITY AS A COMMUNITY 143d ESC PARTNERS WITH NFL TO KEEP 'THE CITY BEAUTIFUL'</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a>
volunteer beach:
photo credit: AFS-USA Intercultural Programs <a href="http://www.flickr.com/photos/39056106@N00/9286113034">IMG_9580.jpg</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a>
runners: photo credit: Peter Mooney <a href="http://www.flickr.com/photos/25874444@N00/30394460752">Longwood 10KM 2016 - At Ashfield Boyne River Bridge</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a>
trash: photo credit: chesbayprogram <a href="http://www.flickr.com/photos/29388462@N06/28326627802">Earth Day cleanup at Kenilworth Park in Washington, D.C.</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc/2.0/">(license)</a>
food: photo credit: SurfaceWarriors <a href="http://www.flickr.com/photos/55244200@N05/27964771965">U.S. MARINES AND SAILORS VOLUNTEER AT FOOD SHELTER</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a>
    science: photo credit: Ruth and Dave <a href="http://www.flickr.com/photos/95142644@N00/28010853252">Coke and Mentos</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a>
    girl with trash: photo credit: chesbayprogram <a href="http://www.flickr.com/photos/29388462@N06/28431476505">Earth Day cleanup at Kenilworth Park in Washington, D.C.</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc/2.0/">(license)</a>  <li><a class="white-text" href="#!">Link 2</a></li>
bird: photo credit: USFWS Fish and Aquatic Conservation <a href="http://www.flickr.com/photos/37406777@N07/27943930781">A hairy woodpecker shows off his wings for the Hatchery Helpers shortly before being released back into the wild</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">(license)</a>
service to others: photo credit: symphony of love <a href="http://www.flickr.com/photos/85608594@N00/26861894894">Muhammad Ali Service to others is the rent you pay for your room here on earth</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</body>
