<body   >
      <div class="container-search" style='background: linear-gradient(#e0f7fa, #00bcd4)'>

<ul class="collection">
  <% @opportunities.each do |opportunity| %>
    <li class="collection-item avatar">
      <a class="secondary-content" href="#modal1"
        data-oppid="<%= opportunity['id'] %>"
        data-name="<%= opportunity['title'] %>"
        data-organization="<%= opportunity['parentOrg']['name'] %>"
        data-date="<%= opportunity['availability']['startDate'] %>"
        data-time="<%= opportunity['availability']['startTime'] %>"
        data-link="<%= opportunity['vmUrl'] %>"  >
        <i class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>
      </a>
      <%= image_tag(opportunity['imageUrl'], :class => "circle responsive-img") if opportunity['imageUrl']%>
      <span class="title"><%= opportunity["title"] %></span>
      <p><%= opportunity['plaintextDescription'] if opportunity['plaintextDescription'] %></p>
        <% opportunity.each do |field, value| %>
          <% next if (%w[minimumAge imageUrl plaintextDescription title description categoryIds greatFor id].include?(field) or value.blank?) %>
            <% if value.is_a? Hash %>
              <%= field %>
              <ul>
                <% value.each do |subkey, subvalue| %>
                  <% next if subvalue.blank? %>
                  <li><%= subkey %>: <%= subvalue %></li>
                <% end %>
              </ul>
            <% elsif field == "vmUrl" %>
              <li><%= link_to "View Opportunity Site", value %></li>
            <% else %>
              <%= field %>: <%= value %>
            <% end %>
        <% end %>
    </li>
    <hr>
  <% end %>
</ul>

<% unless session[:page_number].nil?%>
<a href="http://localhost:3000/searches/index?page=<%= session[:page_number] + 1 %>">next
<i class="small material-icons">skip_next</i></a>
<% end %>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>I'm Ready to Volunteer!</h4>
    <p>Heads up, this organization will expecting you to be there.  Please confirm any details using the link provided.  Thank you!</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    <%= link_to 'Sign Me Up!', signup_path, class: 'modal-action modal-close waves-effect waves-green btn-flat signup-button' %>
  </div>
</div>

      </div>
</body>
