<%= form_tag searches_index_path do %>
<%= search_field_tag :term %>
<%= submit_tag "Go!" %>
<% end %>

<ul class="collection">
  <% @opportunities.each do |opportunity| %>
    <li>
      <%= p opportunity['availability']['startDate']%>
      <span class="title"><%= opportunity["title"] %></span>
      <a class="secondary-content" href="#modal1"
        data-oppid="<%= opportunity['id'] %>"
        data-name="<%= opportunity['title'] %>"
        data-organization="<%= opportunity['parentOrg']['name'] %>"
        data-date="<%= opportunity['availability']['startDate'] %>"
        data-time="<%= opportunity['availability']['startTime'] %>"
        data-link="<%= opportunity['vmUrl'] %>"  >

        <i class="fa fa-calendar-plus-o fa-4x"></i>
      </a>
      <ul>
        <% opportunity.each do |field, value| %>
          <% next if (%w[title description categoryIds greatFor].include?(field) or value.blank?) %>

          <li>
            <% if value.is_a? Hash %>
              <%= field %>
              <ul>
                <% value.each do |subkey, subvalue| %>
                  <% next if subvalue.blank? %>
                  <li><%= subkey %>: <%= subvalue %></li>
                <% end %>
              </ul>
            <% elsif field == "vmUrl" %>
              <li><%= link_to "View Opportunity", value %></li>
            <% elsif field == 'imageUrl' %>
              <li><%= image_tag value %></li>
            <% else %>
              <%= field %>: <%= value %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
    <hr>
  <% end %>
</ul>

<% unless session[:page_number].nil?%>
<a href="http://localhost:3000/searches/index?page=<%= session[:page_number] + 1 %>">next</a>
<% end %>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>I'm Ready to Volunteer!</h4>
    <p>Heads up, this organization will expecting you to be there.  Please confirm any details using the link provided.  Thank you!</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    <%= link_to 'Sign Me Up!', signup_path, class: 'modal-action modal-close waves-effect waves-green btn-flat signup-button' %>
  </div>
</div>
