<%= form_tag searches_index_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
<% end %>

<ul class="collection">
  <% @organizations.each do |org_name, attribs| %>
    <li>
      <span class="title"></span>
        <a class="secondary-content" href="#modal1"><i class="fa fa-calendar-plus-o fa-4x"></i></a>
      <ul>
        <% attribs.each do |key, value| %>
          <li><b><%= "#{key}:" unless @hidden_keys.include?(key) %></b><%= simple_format(value) %></li>
        <% end %>
      </ul>

      <hr>
    </li>
  <% end %>
</ul>

<% unless session[:page_number].nil?%>
  <a href="http://localhost:3000/searches/index?page=<%= session[:page_number] + 1 %>">next</a>
<% end %>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>I'm Ready to Volunteer!</h4>
    <p>Heads up, this organization will expecting you to be there.  Please confirm any details using the link provided.  Thank you!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a href="#!" id="signUpModalBtn" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up!</a>
  </div>
</div>


<script>
  $('#signUpModalBtn').click(function(e){
    e.preventDefault();
    console.log('worked');
  });


</script>
