<!DOCTYPE html>
<html>
  <head>
    <title>BGood</title>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="BGood" />

    <meta property="og:image" content="https://bgoodmiami.herokuapp.com/assets/bgood_logo-62bdcd1880a570f839862b5037083dc62f0c071898af8022c228481caf6bec0d.png" />
    <meta property="og:description"        content="BGood is a fun way to interact with your friends and volunteer in Miami.  Pick what you are interested in, find a volunteer opportunity, then challenge your friends to complete one of their own!" />

    <link rel=stylesheet href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/1569c93a06.js"></script>
    

    <!-- google fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <% unless controller_name == "public_pages" %>
    <nav>
      <div class="nav-wrapper cyan lighten-2">
       <a href="/" class="brand-logo">BGood</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
         <li><%= link_to "My BGood", dashboard_path %></li>
         <li><%= link_to "Opportunities", searches_index_path %></li>
         <li><%= link_to "Challenge Friends", challenge_path %></li>
         <li><%= link_to "About Us", about_us_path %></li>
         <li><%= link_to "Logout", logout_path %></li>
       </ul>
       <ul class="side-nav cyan lighten-2" id="mobile-demo">
          <li><%= link_to "My BGood", dashboard_path %></li>
         <li><%= link_to "Opportunities", searches_index_path %></li>
         <li><%= link_to "Challenge Friends", challenge_path %></li>
         <li><%= link_to "About Us", about_us_path %></li>
         <li><%= link_to "Logout", logout_path %></li>
       </ul>
      </div>
    </nav>
  <% end %>


    <%= yield %>
    <script>
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        </script>
  </body>
</html>
